ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #d0b021;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: rgb(13, 13, 13);
    display: block;
    padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d0b021;
  }
  
  .activo {
    background-color: #d0b021;
  }
  
  .derecha {
    float: right;
  }
  
  .miJumbo {
    margin-top: 1rem;
    padding: 32px 16px;
    background-color: #f3eceb;
    border-radius: 0.5rem;
    text-align: center;
    color: rgb(10, 10, 10);
  }

  .fondo {
    background-color: rgb(250, 250, 5);
  }